.vertical-line-divider {
  position: relative;
}

.vertical-line-divider:after {
  position: absolute;
  right: -.9375rem;
  top: 50%;
  height: 4rem;
  border-left: 1px solid #e7eaf3;
  content: "";
  margin-top: -2rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  display: none;
}
